
    <div class="container espacio">
        <div class="row">
            <div class="col-md-12 offset-md-3">
                <h3>Datos Generales</h3>
                <form (ngSubmit)="registroTest()" [formGroup]="registroForm">                 
                    <mat-form-field class="form-group col-xs-6">
                            <!-- <i class="fa fa-check-circle check" *ngIf="registroForm.controls.nombre.valid"></i>
                            <i class="fa fa-exclamation-circle uncheck" *ngIf="registroForm.controls.nombre.invalid && registroForm.controls.nombre.touched"></i>    -->
                        <input matInput placeholder="Nombre(s)" formControlName="nombre"  >
                        <!-- <mat-error *ngIf="nombre.hasError('required')">
                            Nombre <strong>requerido</strong>
                        </mat-error> -->
                    </mat-form-field>

                    <mat-form-field class="form-group col-xs-6">
                        <input matInput placeholder="Apellido(s)" formControlName="apellido">
                        <!-- <mat-error *ngIf="apellidoFormControl.hasError('required')">
                                Apellido <strong>requerido</strong>
                            </mat-error>                      -->
                    </mat-form-field>

                    <mat-form-field class="form-group col-xs-6">
                        <input matInput [matDatepicker]="picker" placeholder="Fecha de Nacimiento" formControlName="fecha">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <!-- <mat-error *ngIf="fechaFormControl.hasError('required')">
                                Fecha de Nacimiento <strong>requerida</strong>
                            </mat-error>  -->
                    </mat-form-field>

                    <mat-form-field class="form-group col-xs-6">
                        <mat-select placeholder="Genero" formControlName="genero">
                            <mat-option value="1">Masculino</mat-option>
                            <mat-option value="2">Femenino</mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="generoFormControl.hasError('required')">
                                Genero <strong>requerido</strong>
                            </mat-error>  -->
                    </mat-form-field>


                    <mat-form-field class="form-group col-xs-6">
                        <mat-select placeholder="Carrera (actual o deseada)" formControlName="carrera">
                            <mat-option value="3">Ingenieria de Software</mat-option>
                            <mat-option value="1">Ingenieria Civil</mat-option>
                            <mat-option value="2">Ingenieria Geodesia</mat-option>
                            <mat-option value="4">Ingenieria Industrial</mat-option>

                        </mat-select>
                        <!-- <mat-error *ngIf="carreraFormControl.hasError('required')">
                                Carrera <strong>requerida</strong>
                            </mat-error>  -->
                    </mat-form-field>

                    <!-- <mat-radio-group class="form-group col-xs-6" formControlName="trabaja">
                            <label>Trabaja:</label>
                            <br>
                            <mat-radio-button value="1">Si</mat-radio-button>
                            <mat-radio-button value="2">No</mat-radio-button>
                        </mat-radio-group>   -->
                        <mat-form-field class="form-group col-xs-6">
                                <mat-select placeholder="Trabaja" formControlName="trabaja">
                                    <mat-option value="1">SI</mat-option>
                                    <mat-option value="2">NO</mat-option>

        
                                </mat-select>
                                <!-- <mat-error *ngIf="carreraFormControl.hasError('required')">
                                        Carrera <strong>requerida</strong>
                                    </mat-error>  -->
                            </mat-form-field>
                    <mat-form-field class="form-group col-xs-6">
                            <input matInput type="number" placeholder="Edad" formControlName="edad">
                            <!-- <mat-error *ngIf="promedioFormControl.hasError('required')">
                                    Promedio <strong>requerido</strong>
                                </mat-error>  -->
                    </mat-form-field>
                    <mat-form-field class="form-group col-xs-6">
                            <input matInput type="number" placeholder="Promedio Anterior" formControlName="promedio">
                            <!-- <mat-error *ngIf="promedioFormControl.hasError('required')">
                                    Promedio <strong>requerido</strong>
                                </mat-error>  -->
                    </mat-form-field>

                    <mat-radio-group class="form-group col-xs-6" formControlName="grupo">
                        <label>Grupo</label>
                        <br>
                        <mat-radio-button value="1">01</mat-radio-button>
                        <mat-radio-button value="2">02</mat-radio-button>
                        <mat-radio-button value="3">03</mat-radio-button>
                        <mat-radio-button value="4">04</mat-radio-button>
                        <mat-radio-button value="5">05</mat-radio-button>
                    </mat-radio-group>  
                    
                    <mat-form-field class="form-group col-xs-6" >
                        <input matInput type="number" placeholder="Año" formControlName="ano">
                    </mat-form-field>
           
                

                    <div class="form-group" style="text-align: center;">
                            <button mat-stroked-button color="warn" [routerLink]="['/encuesta']" type="submit" (click)="registroTest()" [disabled]="!registroForm.valid" style="width: 500px;">Iniciar Prueba</button>

                        <!-- <button class="btn btn-primary">Iniciar Prueba</button> -->
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
