<div class="container espacio">
  <h1>Responder las siguientes preguntas</h1>
    <mat-list>
        <mat-list-item>
            <label>Trabajar profesionalmente como parte de equipo en el desarrollo y evolución de productos de software, negociar y liderar cuando sea necesario y comunicarse efectivamente con los interesado.</label>
            <br>
            <mat-radio-group style="font-size: 14px;text-align: right;">
                
                <mat-radio-button value="1">Me Gusta</mat-radio-button>
                <mat-radio-button value="2">Me es Indiferente / Desconozco</mat-radio-button>
                <mat-radio-button value="3">Me desagrada</mat-radio-button>
            </mat-radio-group>  
        </mat-list-item>
        <br>
        <mat-divider ></mat-divider>
        <br>

        <mat-list-item>
            <label>Proyectar, construir, supervisar, operar y mantener obras hidraulicas, vias de comunicación y transporte, urbanas y edificación, saneamiento y medio ambiente.</label>
            <br>
            <mat-radio-group style="font-size: 14px;text-align: right;">
                
                <mat-radio-button value="1">Me Gusta</mat-radio-button>
                <mat-radio-button value="2">Me es Indiferente / Desconozco</mat-radio-button>
                <mat-radio-button value="3">Me desagrada</mat-radio-button>
            </mat-radio-group>  
        </mat-list-item>
        <br>
        <mat-divider ></mat-divider>
        <br>
        <mat-list-item>
            <label>Diseñar, establecer y evaluar redes geodésicas horizontales y verticales para la elaboración de planos topográficos, como apoyo para trabajos de construcción de diversas obras civiles.</label>
            <br>
            <mat-radio-group style="font-size: 14px;text-align: right;">
                
                <mat-radio-button value="1">Me Gusta</mat-radio-button>
                <mat-radio-button value="2">Me es Indiferente / Desconozco</mat-radio-button>
                <mat-radio-button value="3">Me desagrada</mat-radio-button>
            </mat-radio-group>  
        </mat-list-item>
        <br>
        <mat-divider ></mat-divider>
        <br>
      </mat-list>
      <div style="text-align: center;">
          <button mat-raised-button color="primary" [routerLink]="['/encuesta']" type="submit"  style="width: 500px;">Finalizar Prueba</button>

      </div>

</div>
