.espacio{
    padding:50px;
    margin-top:40px;
    background-color: rgb(254,254,254,0.8);
  }

  mat-radio-button{
    margin-left: 2px;
  }

  .bg{
  
    background: url('https://images.unsplash.com/photo-1534644107580-3a4dbd494a95?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=07dca174d903b5ea7b9b482c6e816754&auto=format&fit=crop&w=750&q=80') ;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;

  }